<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EliminarHomeServlet</servlet-name>
        <servlet-class>Servlets.EliminarHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarHomeServlet</servlet-name>
        <servlet-class>Servlets.GuardarHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarConsumoServlet</servlet-name>
        <servlet-class>Servlets.GuardarConsumoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarConsumoServlet</servlet-name>
        <servlet-class>Servlets.EliminarConsumoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioServlet</servlet-name>
        <servlet-class>Servlets.InicioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroServlet</servlet-name>
        <servlet-class>Servlets.RegistroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarServlet</servlet-name>
        <servlet-class>Servlets.CerrarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CiclosServlet</servlet-name>
        <servlet-class>Servlets.CiclosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarPersonasServlet</servlet-name>
        <servlet-class>GuardarPersonasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarPersonaServlet</servlet-name>
        <servlet-class>Servlets.GuardarPersonaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarPersonaServlet</servlet-name>
        <servlet-class>Servlets.EliminarPersonaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarCicloServlet</servlet-name>
        <servlet-class>Servlets.EliminarCicloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioServlet</servlet-name>
        <url-pattern>/iniciar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroServlet</servlet-name>
        <url-pattern>/registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarServlet</servlet-name>
        <url-pattern>/cerrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CiclosServlet</servlet-name>
        <url-pattern>/ciclos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarHomeServlet</servlet-name>
        <url-pattern>/eliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarHomeServlet</servlet-name>
        <url-pattern>/guardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarConsumoServlet</servlet-name>
        <url-pattern>/guardarco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarConsumoServlet</servlet-name>
        <url-pattern>/eliminarco</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SubsidyTypeServlet</servlet-name>
        <servlet-class>Servlets.SubsidyTypeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubsidyTypeServlet</servlet-name>
        <url-pattern>/SubsidyTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarPersonaServlet</servlet-name>
        <url-pattern>/guardarPe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarPersonaServlet</servlet-name>
        <url-pattern>/eliminarPe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarCicloServlet</servlet-name>
        <url-pattern>/EliminarCiclo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>Servlets.ReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/ReportServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SubsidiosServlet</servlet-name>
        <servlet-class>Servlets.SubsidiosServlet</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>SubsidiosServlet</servlet-name>
        <url-pattern>/SubsidiosServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
